HELP.md
target/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar

### IDE ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Eclipse / Spring Tools ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Логи и кеши ###
logs/
*.log
*.tmp
*.swp
*.swo
*.bak

### MacOS файлы ###
.DS_Store
Thumbs.db
